
.search-container-desktop{
    margin-top: 80px;
}
.search-input {
    display: block;
    width: 100%;
    padding: 7px;
    background-color: #fad6cf;
    font-weight: 600;
    border: none;
    outline: none;
}

.search-input:focus {
    outline: none; 
}

.search-btn{
    padding: 7px;
    /* width: 5px; */
}

.top-scroll-container{
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
    /* justify-content: space-evenly; */
    cursor: pointer;
    gap: 30px;
}

.scrollable-content{
    text-decoration: none;
    display: block;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    padding: 2px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
}
.scrollable-content:hover{
    border-radius: 0;
    border-bottom: 2px solid #fad6cf;
    color:#FF4522 !important;
}
.scrollable-content-clicked{
    border-radius: 0;
    border-bottom: 2px solid #fad6cf;
    color:#FF4522 !important;
}

.add-btn{
    font-weight: 900;
    position: fixed;
    bottom: 3%;
    right: 2%;
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 45px;
}
.add-btn:hover{
    background-color: #fad6cf !important;
    color: #1E1E1E !important;
    border: 1px solid #FF4522 !important;
}

.nav-below-object {
    margin-top: 0; 
}
.card-container-inner{
    border-bottom:3px solid  #fad6cf !important;
    border-radius: 0px;
    cursor: pointer;
}

@media (min-width: 992px) {
    .nav-below-object {
        margin-top: 90px;
    }
}
