*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Instrument Sans",sans-serif;

}
.pink-text{
    color: #D90356;
}
.beige-text{
    color: #E4E1D2;
}
.bg-pink{
    background-color: #D90356;
}
.bg-beige{
    background-color: #E4E1D2;
}
 /* Desktop CSS */
.top-nav-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.desktop-logo-red {
    margin-left: 20px;
    width: 250px ;
    height: auto ;
}

.top-nav-bar-link {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 0;
    border-radius: 35px 0 0 35px;
}
.top-nav-bar-link a {
    text-decoration: none;
    text-transform:uppercase;
    font-weight: bold;
    color:#E4E1D2;
}

#onboarding-welcome-container{
    position: relative;
    margin-top:30px ;
    text-align: center;
}
#onboarding-welcome-container h1{
    font-size: 130px;
    background: linear-gradient(to bottom,#D90356,#E4E1D2);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
#onboarding-welcome-container img{
    position: absolute;
    top:100px;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);  /*center theimage horizontally*/
    z-index: 10;
}
#lock-suround{
    margin:  2% 4%;
    display: flex;
    justify-content: space-around;
}

#lock-suround div img{
    width: 120px;
}

#onboarding-quote-btn{
    margin-top: 100px;
    display: flex;
    color: rgb(86, 81, 81);
    justify-content: space-between;
    align-items: center;
}
#onboarding-quote-btn p{
    font-size: 25px;
    text-align: center;
    margin-left: 60px;
    width: 30%;
}

#get-started-button{
    text-decoration: none;
    border: none;
    display: block;
    width: 35%;
    padding: 4px;
    text-align: center;
    border-radius: 35px 0 0 35px;
    font-weight: bold;
    font-size: 30px;
}

/* Mobile CSS */

.top-nav-bar-mobile{
    display: flex;
    justify-content: space-between;
}
.logo-container-mobile{
    width: 80%; 
    border-radius: 0px 100px 100px 0;
    display: flex;
    align-items: center;
    padding: 12px;
}
#onboarding-logo-white{
    display: block;
    width: 180px;
    height: auto;
}

.nav-icon-holder-mobile{
    width: 10%;
    height: auto;
    text-align: center;
    display: flex;
    /* padding: 0 5px; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}

.top-bottom-div{
    width: 40px;
    height: 10px;
    border-radius: 5px 0 0 5px;
}
.middle-div{
    width: 30px;
    height: 10px;
    border-radius: 5px 0 0 5px;
}
#nav-bar-contents-mobile{
    display: none;
    background-color: #D90356;
}

#mobile-nav-bar-ul-tag{
    list-style-type: none;
    padding: 10px 5px;
}

#nav-bar-contents-mobile a{
    display: block;
    text-decoration: none;
    text-transform:uppercase;
    font-weight: bold;
    color:#E4E1D2;
    padding: 5px ;
}




/* Okay */
#onboarding-welcome-container-mobile{
    position: relative;
    margin-top:30px ;
    text-align: center;
}

#onboarding-welcome-container-mobile h1{
    font-size: 64px;
    background: linear-gradient(to bottom,#D90356,#E4E1D2);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
#onboarding-welcome-container-mobile img{
    position: absolute;
    top:40px;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);  /*center theimage horizontally*/
    z-index: 10;
}

#onboarding-quote-mobile {
    margin-top: 300px;
    color: rgb(86, 81, 81);
    text-align: center;
    font-size: 20px;
    text-align: center;
}

.get-started-btn-mobile-container{
    margin-top: 40px;
    display: flex;
    justify-content: end;
}
#get-started-button-mobile{
    display: block;
    text-decoration: none;
    display: block;
    width: 80%;
    padding: 10px;
    text-align: center;
    border-radius: 35px 0 0 35px;
    font-weight: bold;
    font-size: 20px;    
}